<haha>
<div class="article">
{{#foreach cnblogs}}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title">{{published}}</h2>
        </header>
        <section>
            {{#foreach entries}}
                <li>
                    <a href="{{href}}" class="block-url" target="_blank">{{title}}</a>
                </li>
            {{/foreach}}
        </section>
    </article>
{{/foreach}}
</div>
