<aside class="aside aside-close" id="aside">
    <div class="title">
        <img class="title-first" src="{{asset "img/font-first.png"}}">
        <img class="title-second" src="{{asset "img/font-second.png"}}">
        <img class="title-third" src="{{asset "img/font-third.png"}}">
    </div>
    <div class="profile">
        <img src="{{asset "img/head.jpg"}}">
    </div>
</aside>