<div class="article">
    <div>
        <header class="post-header italic-head">Blogs</header>
        {{#foreach cnblogs}}
            <article class="post">
                <header class="post-header">
                    <h2 class="post-title">{{published}}</h2>
                </header>
                <section>
                    {{#foreach entries}}
                        <li>
                            <a href="{{href}}" class="block-url" target="_blank">{{title}}</a>
                        </li>
                    {{/foreach}}
                </section>
            </article>
        {{/foreach}}
        <footer class="view-more">......<br>View more on <a href="http://www.cnblogs.com/zhiyishou" target="_blank">Cnblogs</a></footer>
    </div>

    <div>
        <header class="post-header italic-head">Projects</header>
        <article class="post">
            <header class="post-header">
                <h2 class="post-title">Source</h2>
            </header>
            <section>
                <li>
                    <a href="https://github.com/zhiyishou/prefix.js" class="block-url" target="_blank">prefix.js</a>
                </li>
                <li>
                    <a href="https://github.com/zhiyishou/preview" class="block-url" target="_blank">preview</a>
                </li>
                <li>
                    <a href="https://github.com/zhiyishou/Paper" class="block-url" target="_blank">Paper</a>
                </li>
                <li>
                    <a href="https://github.com/zhiyishou/Polyer" class="block-url" target="_blank">Polyer</a>
                </li>
                <li>
                    <a href="https://github.com/zhiyishou/Gsnake" class="block-url" target="_blank">Gsnake</a>
                </li>
            </section>
        </article>
        <footer class="view-more">......<br>View more on <a href="https://github.com/zhiyishou" target="_blank">GitHub</a></footer>
    </div>
</div>
