/*

!/assets

!/assets/css
/assets/css/*
!/assets/css/all.less

!/assets/img
/assets/img/*
!/assets/img/font-first.png
!/assets/img/font-second.png
!/assets/img/font-third.png
!/assets/img/head.jpg

!/assets/js
/assets/js/*
!/assets/js/jquery-2.1.4.min.js

!/partials
/partials/*
!/partials/loop.hbs
!/partials/nav.hbs
!/partials/switch.hbs
!/partials/cnblog.hbs
!/partials/post.hbs
!/partials/pagination.hbs

!/author.hbs
!/default.hbs
!/index.hbs
!/page.hbs
!/post.hbs
!/tag.hbs

!/LICENSE
!/.gitignore
!/index.html
!/index2.html
!/README.md
