/*

!/assets

!/assets/css
/assets/css/*
!/assets/css/all.less
!/assets/css/all.css

!/assets/img
/assets/img/*
!/assets/img/font_first.png
!/assets/img/font_second.png
!/assets/img/font_third.png
!/assets/img/life_biking.png
!/assets/img/life_climbing.png
!/assets/img/life_running.png
!/assets/img/tech_coding.png
!/assets/img/tech_design.png
!/assets/img/tech_explore.png
!/assets/img/contact.png

!/assets/js
/assets/js/*
!/assets/js/jquery-2.1.4.min.js
!/assets/js/index.js
!/assets/js/moment.js


!/partials
/partials/*
!/partials/loop.hbs
!/partials/nav.hbs
!/partials/switch.hbs
!/partials/cnblog.hbs
!/partials/post.hbs
!/partials/pagination.hbs

!/author.hbs
!/default.hbs
!/index.hbs
!/page.hbs
!/post.hbs
!/tag.hbs

!/LICENSE
!/.gitignore
!/README.md
!/package.json
