{{!< default}}
<main class="container" id="container">
    {{> "switch"}}
    <div class="contents">
        <!--left start-->
        <div class="content post-list" id="left-top">

        </div>
        <div class="content post-list" id="left-middle">
            <div class="article">
                {{> "loop"}}
            </div>
        </div>
        <div class="content post-content" id="left-bottom">

        </div>
        <!--left end-->
        <div class="content post-list" id="right-middle">
            <div class="article">
            </div>
        </div>
    </div>
</main>
