{{!< default}}
<div id="inner-body">
    {{> "nav"}}
    <main class="container" id="container">
        {{> "switch"}}
        <div class="contents">
            <!--left start-->
            <div class="content left-content post-list" id="left-top">

            </div>
            <div class="content left-content post-list" id="left-middle">
                {{> "loop"}}
            </div>
            <div class="content left-content post-article" id="left-bottom">

            </div>
            <!--left end-->
            <div class="content right-content post-list" id="right-middle">
                {{> "tech"}}
            </div>
        </div>
        <a id="home-btn">HOME</a>
    </main>
</div>