@main-blue: #148afd;
@dark-blue: #1478ea;
@main-green: #16eacd;
@dark-green: #19f5b4;
@dark-white: #eeeeee;
@main-red: #ff003f;
@dark-red: #ec0038;
@white: #ffffff;
@black: #333333;
@fastEnd: cubic-bezier(.96, .04, .95, .45);
.position(@left: 0;@top:0;@position: absolute) {
  position: @position;
  left: @left;
  top: @top;
}

.tx(@offset) {
  transform: translateX(@offset);
}

.ty(@offset) {
  transform: translateY(@offset);
}

.clearfix:after {
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

@-webkit-keyframes updown {
  70% {
    transform: scale(1.4, 1.4);
  }
  85% {
    transform: rotateX(70deg);
  }
  90% {
    transform: rotateX(-50deg);
  }
  95% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-10deg);
  }
}

@keyframes crash-left {
  80% {
    transform: translateX(100px);
  }
  85% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(40px);
  }
  95% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes crash-right {
  80% {
    transform: translateX(-100px);
  }
  85% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-40px);
  }
  95% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-20px);
  }
}

@keyframes crash-top {
  20% {
    .ty(-100%);
  }
  40% {
    .ty(-85%)
  }
  60% {
    .ty(-100%)
  }
  80% {
    .ty(-92%)
  }
  100% {
    .ty(-100%)
  }
}

html {
  width: 100%;
  height: 100%;
  font: 400 18px/1.6 "Droid Serif", "Microsoft YaHei", Georgia, Cambria, "Merriweather", "PT Serif", "Lucida Grande", Verdana, Lucida, Arial, Helvetica, "宋体", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: @main-blue;
  overflow: hidden;
}

a, a:visited, a:link {
  color: @main-blue;
  text-decoration: none;
}

a.white, a.white:link, a.white:visited, {
  color: @white;
}

#inner-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &.right-middle {
    background: @main-red;
    .aside {
      background: @main-red;
      &.aside-open + .container .switch {
        background: @dark-red;
      }

      .title {
        background: @main-red;
      }

      .profile {
        .contact-box {
          &:hover {
            background: @main-red;
          }
        }
      }

      .close {
        color: @main-red;
      }
    }
    .switch {
      background: @main-red;
      &:hover {
        background: @dark-red;
        div {
          transform: translateX(0px);
        }
        & ~ .contents .content {
          transform: translateX(0px);
        }
      }

      div {
        transform: translateX(-100px);
      }
    }

    .content {
      transform: translateX(-100%);
    }
  }

  &.left-middle {

  }

  &.left-bottom {
    .aside {
      .ty(100%);
    }

    #left-bottom, #left-middle {
      .ty(-100%);
    }

    #home-btn {
      .ty(0);
      transition: transform 0.2s ease 1s;
    }
  }

  &.left-top {

    #left-top, #left-middle {
      .ty(100%);
    }

  }
}

.post-content {
  p, pre {
    margin: 0 0 30px;
  }

  pre {
    overflow: auto;
    background: @black;
    color: @white;
    padding: 10px;
  }

  pre, canvas, audio, video {
    max-width: 100%;
  }

  blockquote {
    font-style: italic;
    border-left: 10px solid @dark-green;
    padding-left: 20px;
    padding-bottom: 3px;
    margin: 0 0 30px -30px;

    p {
      margin: 0;
    }
  }
}

.aside {
  width: auto;
  height: 100%;
  background: @main-blue;
  color: @dark-white;
  .position(0; 0; fixed);
  overflow: hidden;

  .title {
    width: auto;
    height: 100%;
    background: @main-blue;
    position: relative;
    z-index: 1;
    float: left;
    transition-duration: 0.5s;

    img {
      height: 30%;
      margin: 0 0;
      text-align: center;
      transition-duration: 1.5s;
      display: block;
      position: absolute;
    }

    .title-first {
      top: 5%;
    }

    .title-second {
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    .title-third {
      left: 0;
      bottom: 5%;
    }
  }

  .profile {
    width: 500px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    will-change: transform;
    overflow: auto;

    & > img {
      width: 150px;
      height: 150px;
      border: 5px solid @dark-white;
      border-radius: 750px;
    }

    hr {
      border: 1px solid white;
      width: 50%;
    }

    .contact-box {
      display: inline-block;
      color: @white;
      margin-right: 5px;
      padding: 5px;
      cursor: pointer;
      text-align: center;

      &:hover {
        background: @dark-blue
      }

      div {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background: url("../img/contact.png") no-repeat;

        &.cnblog {
          background-position: 0 0;
        }
        &.github {
          background-position: -50px 0;
        }
        &.weibo {
          background-position: -100px 0;
        }
        &.email {
          background-position: -150px 0;
        }
      }

      p {
        margin: 0;
      }
    }

    .pic-box {
      float: left;
      width: 33.3%;
      box-sizing: border-box;

      img {
        width: 70%;
      }

      &.first {

      }
    }

    p {
      color: @white;
    }
  }

  .close {
    display: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: @main-blue;
    background: @white;
  }
}

.aside-close {
  transition-duration: 1s;

  & + .container {
    transition-duration: 1s;
  }

  .title {
    img {
      transition: transform 1s cubic-bezier(.2, .3, .25, .9);
    }
  }

  .profile {
    opacity: 0;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(.0, .55, .06, .83);
  }
}

.aside-open {
  padding-right: 600px;
  transition-duration: 0.5s;

  & + .container {
    overflow: visible;
    transform-origin: 0 0;
    .tx(600px);
    transition-duration: 0.5s;

    .switch {
      transition-duration: 0.2s;
      transform: rotateY(60deg);
      transform-origin: 0 50%;
      background: @dark-blue;
    }

    .contents {
      transform: translate3d(-50px, 0, -86px) rotateY(-10deg);
    }
  }

  .title {
    .title-first {
      transform: translateX(100px);
    }
    .title-second {
      transform: translateX(30px);
    }
    .title-third {
      transform: translateX(70px);
    }
  }

  .profile {
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.51, .1, .13, .87);
  }
}

.container {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
  perspective: 800px;
  position: relative;
  background: @black;
  overflow: hidden;

  .switch {
    width: 100px;
    height: 100%;
    background: @main-blue;
    .position();
    text-align: center;
    cursor: pointer;
    will-change: transform;
    transition-duration: 0.5s;
    overflow: hidden;

    &:hover {
      background: @dark-blue;

      & ~ .contents {
        transform: rotateY(10deg);

        .content {
          transform: translateX(-100%);
        }
      }

      div {
        transform: translateX(-100px);
      }
    }

    div {
      width: 200%;
      font-size: 20px;
      color: @dark-white;
      position: absolute;
      bottom: 0;
      transition-duration: 0.2s;
      transition-timing-function: ease-in;
    }

    p {
      width: 50%;
      float: left;
      box-sizing: border-box;
      border-left: 5px solid @dark-white;
    }
  }

  .contents {
    height: 100%;
    margin-left: 100px;
    transition-property: transform;
    transform-origin: 0 50%;
    transition-duration: 0.4s;
    position: relative;
    overflow: hidden;
    perspective: 800px;

    .content {
      width: 100%;
      height: 100%;
      overflow: auto;
      box-sizing: border-box;
      background: @white;
      transition-duration: 0.5s;
      will-change: transform;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.show-original-img {
  position: absolute;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background: @main-green;
}

#right-middle {
  .position(100%);

  .post-header {
    border: 0;
  }
}

#left-top {
  .position(0; -100%);
}

#left-bottom {
  .position(0; 100%);
}

#original-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;

  img {
    position: absolute;
    cursor: move;
  }
}

#masker-close {
  position: fixed;
  right: 50px;
  top: 10px;
  font-size: 50px;
  color: @white;
  cursor: pointer;
}

#readmore {
  margin-top: 25px;
  margin-bottom: 25px;
  i {
    text-decoration: underline;
  }
}

header {
  &.post-header {
    padding-bottom: 10px;
    border-bottom: 2px dashed #148afd;
    margin-bottom: 15px;

    .post-title {
      a {
        color: @black;
        text-decoration: none;
        animation-timing-function: @fastEnd;

        &:hover {
          animation: crash-left 0.7s;
        }
      }
    }

    .post-meta {
      margin-bottom: 10px;
      font-size: 15px;
      color: gray;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  &.tag-head {
    max-width: 700px;
    width: 80%;
    margin: 0 auto 100px auto;
    border-bottom: 10px solid @dark-green;
  }
}

section {
  &.post-content {
    img {
      max-width: 100%;
    }
    video {
      max-width: 100%;
    }
    audio {
      max-width: 100%;
    }
  }

  .post-excerpt {
    p {
      margin: 0;
      color: @black;
      font-size: 1.1em;
    }
  }
}

footer {
  &.post-meta {
    font-size: 15px;
    &:after {
      &:extend(.clearfix:after);
    }

    * {
      display: inline-block;
    }

    a {
      text-decoration: none;
      background: @black;
      padding: 3px;
      animation-timing-function: @fastEnd;

      &:hover {
        -webkit-animation: updown 0.5s;
      }
    }

    time {
      float: right;
      background: @main-blue;
      color: @white;
      padding: 3px;
    }

  }

  &.post-footer {
    padding-top: 40px;

    .post-info {
      background: @dark-green;
      cursor: pointer;
      position: relative;
      color: @white;

      &:after {
        &:extend(.clearfix:after);
      }
      &:hover {
        -webkit-animation: updown 0.5s;
      }

      .date-box {
        .position();
        padding-left: 20px;
        box-sizing: border-box;

        p {
          font-size: 15px;
          color: @white;
        }
      }
      .author {
        width: 100%;
        padding-left: 25%;
        font-size: 15px;
        box-sizing: border-box;

        img {
          width: 30%;
          float: left;
          margin-right: 5%;
        }

        & > div {
          overflow: hidden;
        }

      }
    }
  }

}

nav {
  &.pagination {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;

    &:after {
      &:extend(.clearfix:after);
    }

    a {
      padding: 5px;
      background: #333333;
      color: #eeeeee;
      text-decoration: none;
      position:absolute;
    }

    .newer-posts {
      left:0;
      &:hover {
        -webkit-animation: crash-left 0.5s;
      }
    }

    .older-posts {
      right:0;
      &:hover {
        -webkit-animation: crash-right 0.5s;
      }
    }
  }
}

aside {
  &.read-next {
    margin-top: 20px;
    margin-bottom: 200px;

    a {
      float: left;
      width: 40%;
      background: @black;
      text-align: left;
      padding: 0 10px;
      box-sizing: border-box;

      &.prev {
        float: right;
        text-align: right;

        &:hover {
          -webkit-animation: crash-right 0.5s;
        }
      }

      &:hover {
        -webkit-animation: crash-left 0.5s;
      }
    }
  }
}

h2.post-title {
  font-size: 35px;
}

h1.post-title {
  font-size: 45px;
}

.post-list {
  .post-title {
    margin-bottom: 0;
  }
}

.post-article {
  .post-title {
    margin-top: 0;
  }
}

.article, .post-article > * {
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}

#home-btn {
  .position();
  background: @main-green;
  color: @white;
  width: 100px;
  height: 100px;
  line-height: 100px;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  transition-duration: 0.2s;
  .ty(-100%)
}

#home-btn:hover {
  background: @dark-green;
}

#mask-layer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: @black;
  opacity: 0.9;
  filter: Alpha(opacity=90);
  z-index: 100;
}

#loading {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  perspective: 120px;
  background-color: @main-blue;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
  z-index: 101;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@media screen and (max-width: 900px) {
  * {
    transform: none !important;
    transition: none !important;
  }

  body {
    overflow: auto;
    background: @white;
  }

  .aside {
    width: 100%;
    height: auto;
    z-index: 2;

    &.aside-open {
      padding-right: 0;
      height: 100%;
      overflow: auto;

      & + .container {
        display: none;
      }

      .title-first {
        .position(0, 50px, relative);
      }
      .title-second {
        .position(0, 15px, relative);
      }
      .title-third {
        .position(0, 35px, relative);
      }

      .title {
        padding-bottom: 50px;
      }

      .profile {
        display: block;
      }

      .close {
        display: block;
      }
    }

    .title {
      height: auto;
      float: none;
      text-align: center;

      img {
        width: 20%;
        height: auto;
        position: static;
        left: auto;
        right: auto;
        display: inline-block;
      }
    }

    .profile {
      width: 100%;
      overflow: visible;
      display: none;
      position: static;

      & > img {
        width: 100px;
        height: 100px;
      }
    }

  }

  #inner-body {
    height: auto;

    &.right-middle {
      &.left-bottom, &.left-top {
        #home-btn {
          display: block;
          position: fixed;
        }
        .switch {
          position: fixed;
        }
      }
      .switch {
        & > div {
          top: -100%;
        }
      }
      .content {
        display: none !important;
      }
      #right-middle {
        display: block !important;
        position: static;
      }
    }
    &.left-top {
      .switch {
        position: fixed;
      }
      #home-btn {
        display: block;
        position: fixed;
      }
      .aside {
        display: none;
      }
      .contents {
        top: 50px;
        padding-bottom: 50px;
      }
      .content {
        display: none;
      }
      #left-top {
        display: block;
        position: static;
      }
    }
    &.left-middle {
      .content {
        display: none;
      }
      #left-middle {
        display: block;
        position: static;
      }
    }
    &.left-bottom {
      #home-btn {
        position: fixed;
        display: block;
      }
      .switch {
        position: fixed;
      }
      .aside {
        display: none;
      }
      .contents {
        top: 50px;
        padding-bottom: 50px;
      }
      .content {
        display: none;
      }
      #left-bottom {
        display: block;
        position: static;
      }
    }
  }

  .container {
    margin-left: 0;
    perspective: none;
    will-change: initial;
    height: auto;

    .switch {
      width: 100%;
      height: 50px;
      z-index: 1;
      will-change: initial;
      position: static;

      & > div {
        height: 200%;
        width: auto;
        right: 0;
        bottom: auto;
        top: 0;
        z-index: 1;
        position: relative;
        float: right;

        p {
          height: 50%;
          width: auto;
          float: none;
          margin: 0;
          border-left: none;
          border-top: 5px solid @white;
        }
      }
    }

    .contents {
      margin-left: 0;

      .content {
        display: none;
      }
    }
  }

  .article, .post-article > *, header.tag-head {
    width: 95%;
  }

  footer {
    &.post-footer {
      .post-info {
        .date-box {
          position: static;
          padding-left: 5px;
        }
        .author {
          padding-left: 0;
        }
      }
    }
  }

  #home-btn {
    height: 50px;
    line-height: 50px;
    z-index: 2;
    display: none;
  }

  #left-middle {
    display: block;
  }
}

